.home-body-section {
  padding-top: 27px;
}

.home-body-title {
  padding-bottom: 27px;
}

.home-body-title-h1 {
  font-size: 28px;
  color: var(--color-font-primary);
}

.home-body-title-h2 {
  font-size: 16px;
  color: var(--color-font-secondary);
}
