.card {
  background-color: var(--color-bg-tertiary);
  margin: 54px 0;
  height: 180px;
  padding: 30px;
  border-radius: 16px;
}

.card-container-title {
  font-size: 18px;
  color: var(--color-font-senario);
  padding-bottom: 12px;
}

.card-container-input {
  margin-bottom: 24px;
  border: 1px solid var(--color-border-primary);
  height: 30px;
}

.card-container-input::placeholder {
  font-size: 12px;
  color: var(--color-placeholder);
  padding-left: 10px;
}
